<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/nav.css">
<%- include("./partials/header.ejs") %>
<%- include("./partials/nav.ejs") %>
<div class="image">
    
</div>
<%- include("./partials/footer.ejs") %>