nav{
    width: 100vw;
    height: 7vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    align-items: center;
    text-align: center;
   
}
nav ul{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3vmax;
}
nav ul li
{
    list-style: none;
    
}
nav ul li a
{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    font-family: 'Mooli', sans-serif;
    font-weight: 500;
}
